<% layout("/layout/bollerpiate") %>


  <div class="row mt-4">
    <div class="col-6  offset-3">
      <h3 class="offset-2">
        <%= listing.title %>
      </h3>
      <div class="listnig-card offset-2">
        <img src="<%= listing.image %>" class="card-img-top show-img " alt="...">
        <div class="card-body ">

          <p class="card-text">
            <%= listing.description%> <br>
              &#8377; <%=listing.price%> <br>
                <%= listing.location%> <br>
                  <%= listing.country%>br
          </p>

            <% if( currUser&&listing.owner._id.equals(currUser._id)) { %>
              <div class="btns">
                <a href="/listings/<%= listing._id%>/edit" class="btn btn-primary">Edit </a>
                <form action="/listings/<%= listing._id%>?_method=DELETE" method="post">
                  <button class="btn btn-danger delete">Delete</button>
                </form>
              </div>
            <% } %>
           
            
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 offset-4 ">
    <hr>
    <% if (currUser) { %>
    <h4>leaves a comment</h4>
    <form action="/listings/<%=listing._id%>/reviews" method="post" class="needs-validation" novalidate>
      <div class="mt-4 mb-3">
        <label for="rating">Rating</label>
      <fieldset class="starability-slot">
        <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="0" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>
      <div class="mt-4 mb-3">
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment" name="reviews[comment]" rows="3" required></textarea>
        <div class="invalid-feedback">
          Please add some comments for reviews
        </div>
        <button class=" btn btn-outline-dark">submit</button>
      </div>
    </form>
    <hr>
    <% } %>
    <p><b>All Reviwes</b></p>
       <div class="row">
    <% for(reviwe of listing.reviews) { %>
      <div class="col-5 ms-3 mb-3 card">
        <div class="card-body">
          <h5 class="card-title mt-3">@<%= reviwe.author.username%></h5>
          <p class="starability-result" data-rating=<%=reviwe.rating%>></p>
          <p class="card-text"><%= reviwe.comment %></p>
          <% if (reviwe.author._id.equals(currUser._id)) { %>
            <form action="/listings/<%=listing._id%>/reviews/<%= reviwe._id %>?_method=DELETE" method="post">
              <button class="btn btn-sm btn-dark mb-3">Delete</button>
            </form>
          <% } %>
            
        </div>
      </div>
      <% } %>
    </div>

  </div>